.searched-campaigns-container {
  margin-top: 116px;
  .no-duplicated-campaigns {
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 18px;
      color: #0f314d;
      margin-bottom: 16px;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      color: #444444;
    }
  }
}
.spinner-wrapper {
  text-align: center;
  margin-top: 46px;
  .loading-campaign {
    animation: 0.8s linear infinite spinner;
    -webkit-animation: 0.8s linear infinite spinner;
    animation-play-state: inherit;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
