html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  height: 100%;
}
#root {
  height: 100%;
}
.app {
  height: 100%;
}
.title {
  font-weight: 500;
  font-size: 24px;
  color: #444444;
  margin-bottom: 16px;
  margin-top: 32px;
}

input {
  outline: none;
  &:focus-visible {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #d8d8d8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.header-title {
  font-weight: 700;
  font-size: 32px;
  color: #0f314d;
  text-align: center;
}
.header-description {
  font-weight: 400;
  font-size: 24px;
  color: #444444;
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #d8d8d8;
}


.posts-wrapper {
  padding-top: 50px;
  input{
    margin-bottom: 30px;
  }
  .posts {
    .individual-post {
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      .delete-btn {
        color: red;
        cursor: pointer;
        padding-left: 15px;
      }
    }
  }

}

.user-table-pagination {
  padding-top: 20px;
  text-align: right;
}
